*/node_modules
*/package.json
*/package-lock.json
*/.editorconfig
*/.prettierignore
*/.prettierrc.json
mockup_landing/images/*.jpg
mockup_landing/images/*.png
mockup_landing/postcss.config.js
mockup_landing/tailwind.config.js